*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Coolvetica";
  src: url(../font/coolvetica.ttf) format("truetype");
}

body {	
	font-family: 'Merriweather', serif;
	margin:0;
	padding:0;
	opacity: 0;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

body.onshow {
	opacity: 1;
}

img {
  max-width: 100%; 
  height: auto !important;
}

a {
	text-decoration: none; 
	color: #000;
}
a:hover {
	color: grey;
}

.container { 
  margin: 130px 0px 0px 0px;
  padding: 0 5px 50px 5px;
  max-width: 48rem;
  width: 100%;
}

.bar {
	width: 350px;
	height: 70px;
}

.column {
	padding-top: 1rem;
}

.langpicker {
	display: none;
    position: absolute;
    top: 5px;
    left: 300px;
}

#menu-icon {
    position: absolute;
    top: 8px;
    left: 310px;
}

#social {
	display: none;
}

@media (min-width: 80rem) {
  nav {
	background-color:#fff;
	width:300px;
	float:left;
	margin: 10px 30px;
 }
 
 .langpicker{
	display: inline;
 }
 
 #menu-icon{
	display: none;
 }
 
 #menu {
	display: none;
 }
 
 #social {
	display: inline;
	top: 200px;
	margin: 0 0 0 10px;
	position: absolute;
 }

  .column {
    float: left;
    padding-left: 0rem;
    padding-right: 0rem;
	padding-top: 6rem;
	padding-bottom: 0rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }  
  
  .container {
	  top: 84px;
	  left: 420px;
	  position:absolute; 
	  margin: 0 auto;
	  width: 70%;
	  max-width: 80rem;
	  font-size: 1.5em;
  }
  
  .item{
	 padding-bottom: 10px;
     padding-top: 10px;
     white-space: nowrap;
	 display: inline-block;	
  }

  .text {
	 white-space: normal;
  }
  
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

#logo {
	font-size: 6em;
	font-family: Coolvetica;
	line-height: 0.8em;
    height: 0.8em;
	margin:0 0 0 5px;
	/*position: relative;*/
}


.icon{
	width: 30px;
	float: left;
	margin: 0 10px;
}

.itemicon{
	width: 40px;
	margin: 10px 10px 0 0;
}

/* colors */
.grey-text{
	color:#777870;
}
.grey{
	background-color:#777870;
}
.purple-text{
	color:#DE3D83;
}
.purple{
	background-color:#DE3D83;
}
.green-text{
	color:#00B8B8;
}
.green{
	background-color:#00B8B8;
}
.yellow-text{
	color:#E4BD0B;
}
.yellow{
	background-color:#E4BD0B;
}
.blue-text{
	color:#37BBE4;
}
.blue{
	background-color:#37BBE4;
}

#menu {
  width: 100%;
  top: 0px;
 /* padding: 10px 0px;*/
  /*position: absolute;*/
  z-index: 200;
  background-color: #fff;
}

.menu-icon {
	width: 30px;
	float: left;
	margin: 10px 10px;
}

.menu-text {
	width: 30px;
	float: left;
	margin: 10px 10px;
	font-size: 1.5em;
	text-decoration: none;
	color: #000;
}

.arrow {
	width: 20px;
	height: 20px;
	margin: 8px;
}

.go-up {
	position: fixed;
    bottom: 0;
    right: 25px;
    width: 40px;
    height: 35px;
    text-align: center;
}

/** animations  **/
.slideIn {
	transition: .3s linear all;
    height: 50px;
    overflow: hidden;
}

.slideIn.ng-hide {
    height:0px;
}


.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}
