<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>404</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Erwin de Gier">
	<link rel="stylesheet" href="http://edegier.nl/css/default.css">
	<link rel="stylesheet" href="http://edegier.nl/css/404.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72478077-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body>
<div class="overlay">Page not found</div>
<pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en" ng-app="app"&gt;
&lt;head&gt;
	&lt;meta charset="utf-8"&gt;
	&lt;meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"&gt;
	&lt;title&gt;Erwin de Gier - Software Architect&lt;/title&gt;
	&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
	&lt;meta name="description" content="Overview of my presentations about Java, Development, Open Source, Architecture, Microservices and Reactive programming"&gt;
	&lt;meta name="author" content="Erwin de Gier"&gt;
	&lt;link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'&gt;
	&lt;link rel="stylesheet" href="css/normalize.css"&gt;
	&lt;link rel="stylesheet" href="css/style.css"&gt;
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"&gt;&lt;/script&gt;
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"&gt;&lt;/script&gt;
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"&gt;&lt;/script&gt;
	&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.min.js"&gt;&lt;/script&gt;
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"&gt;&lt;/script&gt;
	&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.8.1/angular-translate-loader-static-files.min.js"&gt;&lt;/script&gt;
	&lt;script src="https://code.jquery.com/jquery-2.1.4.min.js"&gt;&lt;/script&gt;
	&lt;script src="js/app.js"&gt;&lt;/script&gt;
	&lt;script&gt;
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72478077-1', 'auto');
	  ga('send', 'pageview');
	&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;header id="home"&gt;
&lt;nav ng-class="{onfade:shownav}" elem-ready="shownav=true" class="fadein"&gt;
	&lt;div id="menu-icon" ng-click="showMenu=!showMenu"&gt;
		&lt;img class="icon" ng-show="!showMenu" src="img/menu.svg"/&gt;
		&lt;img class="icon" ng-show="showMenu" src="img/close.svg"/&gt;
	&lt;/div&gt;
	&lt;div id="menu" ng-show="showMenu" class="slideIn"&gt;
		&lt;a href="mailto:erwin@edegier.nl"&gt;&lt;img class="menu-icon" src="img/email.svg"/&gt;&lt;/a&gt;
		&lt;a href="https://github.com/erwindeg"&gt;&lt;img class="menu-icon" src="img/github.svg"/&gt;&lt;/a&gt;
		&lt;a href="https://nl.linkedin.com/in/erwindegier"&gt;&lt;img class="menu-icon" src="img/linkedin.svg"/&gt;&lt;/a&gt;
		&lt;a href="http://stackoverflow.com/users/4685029/erwin-de-gier"&gt;&lt;img class="menu-icon" src="img/stackoverflow.svg"/&gt;&lt;/a&gt;
		&lt;a href="https://twitter.com/erwindeg"&gt;&lt;img class="menu-icon" src="img/twitter.svg"/&gt;&lt;/a&gt;
			&lt;a href="" class="menu-text" ng-controller="translateController" ng-click="changeLanguage('nl')" ng-show="key != 'nl'"&gt;&lt;b&gt;NL&lt;/b&gt;&lt;/a&gt;
			&lt;a href="" class="menu-text" ng-controller="translateController" ng-click="changeLanguage('en')" ng-show="key != 'en'"&gt;&lt;b&gt;EN&lt;/b&gt;&lt;/a&gt;
		
	&lt;/div&gt;
	&lt;div id="logo"&gt;
		&lt;span&gt;Erwin&lt;/span&gt;&lt;/br&gt;
		&lt;span&gt;de Gier&lt;/span&gt;
	&lt;/div&gt;
	&lt;div id="social"&gt;
		&lt;a href="mailto:erwin@edegier.nl"&gt;&lt;img class="icon" src="img/email.svg"/&gt;&lt;/a&gt;
		&lt;a href="https://github.com/erwindeg"&gt;&lt;img class="icon" src="img/github.svg"/&gt;&lt;/a&gt;
		&lt;a href="https://nl.linkedin.com/in/erwindegier"&gt;&lt;img class="icon" src="img/linkedin.svg"/&gt;&lt;/a&gt;
		&lt;a href="http://stackoverflow.com/users/4685029/erwin-de-gier"&gt;&lt;img class="icon" src="img/stackoverflow.svg"/&gt;&lt;/a&gt;
		&lt;a href="https://twitter.com/erwindeg"&gt;&lt;img class="icon" src="img/twitter.svg"/&gt;&lt;/a&gt;
	&lt;/div&gt;	
&lt;/nav&gt;
&lt;/header&gt;
&lt;/div&gt;
&lt;section class="container" ng-controller="mainController"&gt;
&lt;div class="controls fadein" ng-class="{onfade:showcontrols}" elem-ready="showcontrols=true"&gt;
	&lt;a href="" ng-click="showSearch=!showSearch"&gt;&lt;img class="icon" src="img/search.svg"/&gt;&lt;/a&gt;
	&lt;div class="langpicker" ng-controller="translateController"&gt;
		&lt;a href="" ng-click="changeLanguage('nl')" ng-show="key != 'nl'"&gt;NL&lt;/a&gt;
		&lt;a href="" ng-click="changeLanguage('en')" ng-show="key != 'en'"&gt;EN&lt;/a&gt;	
	&lt;/div&gt;	
&lt;/div&gt;
&lt;div class="search" ng-show="showSearch"&gt;
	&lt;input class="search-input" type="text" ng-model="search" placeholder="{{'search_query' | translate}}" /&gt;
&lt;/div&gt;	
	&lt;div ng-repeat="item in content | filter:search" itemscope itemtype="https://schema.org/Article" class="item" animate-on-load&gt;
		&lt;a ng-href="{{item.link}}"&gt;&lt;h2 class="text title" itemprop=”name”&gt;{{item.title[key]}}&lt;/h2&gt;&lt;/a&gt;
		&lt;span class="date"&gt;{{item.date}}&lt;/span&gt; &lt;br&gt;&lt;/br&gt;
		&lt;span class="text"&gt;{{item.text[key]}}&lt;/span&gt;&lt;/br&gt;
		&lt;div class="icons"&gt;
			&lt;span ng-show="item.presentation" &gt;&lt;a ng-href="{{item.presentation}}"&gt;&lt;img class="itemicon" src="img/presentation.svg"/&gt;&lt;/a&gt;&lt;/span&gt;
			&lt;span ng-show="item.article" &gt;&lt;a ng-href="{{item.article}}"&gt;&lt;img class="itemicon" src="img/article.svg" /&gt;&lt;/a&gt;&lt;/span&gt;
			&lt;span ng-show="item.sourcecode" &gt;&lt;a ng-href="{{item.sourcecode}}"&gt;&lt;img class="itemicon" src="img/github.svg"/&gt;&lt;/a&gt;&lt;/span&gt;
			&lt;span ng-show="item.video" &gt;&lt;a ng-href="{{item.video}}"&gt;&lt;img class="itemicon" src="img/youtube.svg"/&gt;&lt;/a&gt;&lt;/span&gt;
		&lt;/div&gt;
		&lt;br&gt;&lt;/br&gt;
	&lt;/div&gt;
	&lt;div class="go-up" ng-show="scrollPos &gt; 200"&gt;
		&lt;a href="#home"&gt;&lt;img src="img/arrow.svg" alt="arrow" class="arrow"&gt;&lt;/a&gt;
	&lt;/div&gt;
&lt;/section&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</body>
</html>
