<div class="work-container-image">
	<div ng-swipe-left="next()" ng-swipe-right="back()">
		<img class="image" src="{{page}}.jpg" ></img>
		<!--<button ng-click="back()" >back</button>
		<button ng-click="next()" >next</button>-->
	</div>
<div class="work-container-text" ng-swipe-left="next()" ng-swipe-right="back()">
		<div class="text-box-work-page">
			<div class="work-page-text">
				<h2>Dit is een titel</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>	
	</div>
</div>
