<div class="work-container-image">
	<div ng-swipe-left="next()" ng-swipe-right="back()">
		<img class="image" src="{{page}}.jpg" ></img>
		<!--<button ng-click="back()" >back</button>
		<button ng-click="next()" >next</button>-->
	</div>
<div class="work-container-text">
		<div class="text-box-work-page">
			<div class="work-page-text">
				<h2>Dit is een titel</h2>
				<p class="second-title">Dit is een subtitel</p>
				<p class="text-work-items">Dit is de tekst</p>
			</div>
		</div>	
	</div>
</div>