<div class="work-container-image">
	<div ng-swipe-left="next()" ng-swipe-right="back()">
		<img class="image" src="{{page}}.jpg" ></img>
		<!--<button ng-click="back()" >back</button>
		<button ng-click="next()" >next</button>-->
	</div>
<div class="work-container-text" ng-swipe-left="next()" ng-swipe-right="back()">
		<div class="text-box-work-page">
			<div>
				<h2>Dit is een titel</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
		</div>	
	</div>
</div>
