<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Erwin de Gier - Software Architect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Overview of my presentations about Java, Development, Open Source, Architecture, Microservices and Reactive programming">
	<meta name="author" content="Erwin de Gier">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.8.1/angular-translate-loader-static-files.min.js"></script>
	<script src="js/app.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72478077-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body ng-class="{onshow:show}" ng-controller="viewController">
<nav>
	<div id="logo">
		<span>Erwin</span></br>
		<span>de Gier</span>
	</div>
	<div id="social">
		<span><a href="mailto:erwin@edegier.nl">erwin@edegier.nl</a></span></br>
		<span><a href="https://github.com/erwindeg">github.com/erwindeg</a></span></br>
		<span><a href="https://nl.linkedin.com/in/erwindegier">linkedin.com/erwindegier</a></span></br>
		<span><a href="http://stackoverflow.com/users/4685029/erwin-de-gier">stackoverflow.com/erwin-de-gier</a></span></br>
		<span><a href="https://twitter.com/erwindeg">twitter.com/erwindeg</a></span></br>
	</div>
</nav>
<div class="langpicker" ng-controller="translateController">
	<a href="" ng-click="changeLanguage('nl')" ng-show="key != 'nl'">NL</a>
	<a href="" ng-click="changeLanguage('en')" ng-show="key != 'en'">EN</a>
</div>
<section class="container" ng-controller="mainController" ng-cloak>	
	<div ng-repeat="item in content" itemscope itemtype="https://schema.org/Article">
		<h2 itemprop=”name”>{{item.title[key]}}</h2>
		{{item.text[key]}}</br>
		<a ng-href="{{item.link}}">{{'view_presentation' | translate}} {{item.linktitle}}</a></br>
		<span ng-show="item.sourcecode" ><a ng-href="{{item.sourcecode}}">{{'view_source_on_github'| translate}}</a></br></span>
		<span ng-show="item.video" ><a ng-href="{{item.video}}">{{'view_presentation_on_youtube'| translate}}</a></br></span>
		<br></br>
	</div>
</section>
</body>
</html>
