<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Erwin de Gier - Software Architect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Overview of my presentations about Java, Development, Open Source, Architecture, Microservices and Reactive programming">
	<meta name="author" content="Erwin de Gier">
	<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.8.1/angular-translate-loader-static-files.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="js/app.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72478077-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body ng-class="{onshow:show}" ng-controller="viewController">
<header>
<nav>
	<div id="menu-icon" ng-click="showMenu=!showMenu">
		<img class="icon" ng-show="!showMenu" src="img/menu.svg"/>
		<img class="icon" ng-show="showMenu" src="img/close.svg"/>
	</div>
	<div id="menu" ng-show="showMenu" class="slideIn">
		<a href="mailto:erwin@edegier.nl"><img class="menu-icon" src="img/email.svg"/></a>
		<a href="https://github.com/erwindeg"><img class="menu-icon" src="img/github.svg"/></a>
		<a href="https://nl.linkedin.com/in/erwindegier"><img class="menu-icon" src="img/linkedin.svg"/></a>
		<a href="http://stackoverflow.com/users/4685029/erwin-de-gier"><img class="menu-icon" src="img/stackoverflow.svg"/></a>
		<a href="https://twitter.com/erwindeg"><img class="menu-icon" src="img/twitter.svg"/></a>
			<a href="" class="menu-text" ng-controller="translateController" ng-click="changeLanguage('nl')" ng-show="key != 'nl'"><b>NL</b></a>
			<a href="" class="menu-text" ng-controller="translateController" ng-click="changeLanguage('en')" ng-show="key != 'en'"><b>EN</b></a>
		
	</div>
	<div id="logo">
		<span>Erwin</span></br>
		<span>de Gier</span>
	</div>
	<div id="social">
		<a href="mailto:erwin@edegier.nl"><img class="icon" src="img/email.svg"/></a>
		<a href="https://github.com/erwindeg"><img class="icon" src="img/github.svg"/></a>
		<a href="https://nl.linkedin.com/in/erwindegier"><img class="icon" src="img/linkedin.svg"/></a>
		<a href="http://stackoverflow.com/users/4685029/erwin-de-gier"><img class="icon" src="img/stackoverflow.svg"/></a>
		<a href="https://twitter.com/erwindeg"><img class="icon" src="img/twitter.svg"/></a>
	</div>	
</nav>
</header>
<div ng-view></div>
<!--
<section class="container" ng-controller="mainController" ng-cloak>
<div class="controls">
	<a href="" ng-click="showSearch=!showSearch"><img class="icon" src="img/search.svg"/></a>
	<div class="langpicker" ng-controller="translateController">
		<a href="" ng-click="changeLanguage('nl')" ng-show="key != 'nl'">NL</a>
		<a href="" ng-click="changeLanguage('en')" ng-show="key != 'en'">EN</a>	
	</div>	
</div>
<div class="search" ng-show="showSearch">
	<input class="search-input" type="text" ng-model="search" placeholder="{{'search_query' | translate}}" />
</div>	
	<div ng-repeat="item in content | filter:search" itemscope itemtype="https://schema.org/Article" class="item">
		<a ng-href="{{item.link}}"><h2 class="text title" itemprop=”name”>{{item.title[key]}}</h2></a>
		<span class="date">{{item.date}}</span> <br></br>
		<span class="text">{{item.text[key]}}</span></br>
		<div class="icons">
			<span ng-show="item.presentation" ><a ng-href="{{item.presentation}}"><img class="itemicon" src="img/presentation.svg"/></a></span>
			<span ng-show="item.article" ><a ng-href="{{item.article}}"><img class="itemicon" src="img/article.svg" /></a></span>
			<span ng-show="item.sourcecode" ><a ng-href="{{item.sourcecode}}"><img class="itemicon" src="img/github.svg"/></a></span>
			<span ng-show="item.video" ><a ng-href="{{item.video}}"><img class="itemicon" src="img/youtube.svg"/></a></span>
		</div>
		<br></br>
	</div>
	<div class="go-up" ng-show="scrollPos > 200">
		<a href="#home"><img src="img/arrow.svg" alt="arrow" class="arrow"></a>
	</div>
</section>
-->
</body>
</html>
