/* BASE STYLES
============================================================================= */
html         { overflow-y:hidden; }
.page        { 
	bottom:0; app
	padding-top:200px;
	position:absolute; 
	text-align:center;
	top:0;  
	width:100%; 
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }
#about      { color:#333; position:absolute; text-align:center; top:50px; width:100%; }

.text,
.image{
	width: 750px;
    height: 500px;
	margin-left: auto;
    margin-right: auto;
}

/* PAGES
============================================================================= */

.page-content 	{} 


/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

.page-content-rtl.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;   
}
.page-content-rtl.ng-enter 		{  
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    
}

.page-content-ltr.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
	-moz-animation:slideOutRight 0.5s both ease-in;
	animation:slideOutRight 0.5s both ease-in;   
}
.page-content-ltr.ng-enter 		{  
    -webkit-animation:slideInLeft 0.5s both ease-in;
	-moz-animation:slideInLeft 0.5s both ease-in;
	animation:slideInLeft 0.5s both ease-in;    
}


/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}


/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* slide in from the left */
@keyframes slideInLeft {
	from 	{ transform:translateX(-100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
	from 	{ -moz-transform:translateX(-100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
	from 	{ -webkit-transform:translateX(-100%); }
	to 		{ -webkit-transform: translateX(0); }
}


/* slide out to the right */
@keyframes slideOutRight {
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {	
	to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
	to 		{ -webkit-transform: translateX(100%); }
}



