// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 50rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 4em;
}

footer {
  margin-bottom: 2rem;
  clear: both;
}

.menu-icon {
	float: left;
	margin-right:0.5em;
	width: 35px;
}

.feature{
  height: 45rem;
  text-align: center;
   @media (min-width: $large-breakpoint) {
     height: 35rem;
  }
}

.feature-text img{
  display:none;
}

.feature-title{
  color: #fff;
}

.feature-post-date{
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #fff;

}

.feature-text{
  color: #fff;
  max-width: 60%;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 10em;
}

a.feature-link:hover {
  text-decoration: none;
}

.feature-img {
  position: absolute;
  max-width: 1570px;
 
  overflow: hidden;
  height: 821px;
    
  top: 2.5em;
  left: 50%;
  margin-left: -850px;
  z-index: -99;
  opacity: 1;
}

#readnow{
  color: #fff;
  width: 6rem;
  height: 2.5rem;
  line-height: 2.2rem;
  text-align: center;
  margin-left:  auto;
  margin-right: auto;
  top: 50%;
  verticle-align:middle;
  border-radius: 5px;
  border: 2px solid #fff;
}

#readnow:hover{
    background-color: #fff;
    color: $gray-3;
}

.layer{
    width: 100%;
    color: #FFF;
}

.after {
    top: 2.5rem;
    display: block;
    position: absolute;
    width: 100%;
    height: 821px;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index:-90;
}

//animation
.movetxt {
    position: relative;
    -webkit-animation: fadein 2s, moving 2s;
    animation: fadein 2s, moving 2s;
}
    
@-webkit-keyframes moving {
    0% {top: -50px;}
    100% {top: 0px;}
}

@keyframes moving {
    0%  {top: -50px;}
    100%  {top: 0px;}
}

@keyframes fadein {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    100%    { opacity: 1; }
}


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0%  { opacity: 0; }
    10%  { opacity: 0; }
    100%   { opacity: 1; }
}