// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 50rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 4em;
}

footer {
  margin-bottom: 2rem;
  clear: both;
}

.menu-icon {
	float: left;
	margin-right:0.5em;
	width: 35px;
}

.feature{
  height: 45rem;
  text-align: center;
   @media (min-width: $large-breakpoint) {
     height: 35rem;
  }
}

img[src*="svg"]{
  display:none;
}

.feature-text{
  color: #000;
  max-width: 60%;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 10em;
}

a.feature-link:hover {
  text-decoration: none;
}

.feature-img {
  position: absolute;
  max-width: 1700px;
 
  overflow: hidden;
  height: auto;
    
  top: 2rem;
  left: 50%;
  margin-left: -850px;
  z-index: -99;
  opacity: 0.6;
}

#readnow{
  background-color: $gray-3;
  color: #fff;
  width: 6rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-left:  auto;
  margin-right: auto;
  top: 50%;
  verticle-align:middle;
}