// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    0.5rem;
  padding-bottom: 0.5rem;

  margin-bottom: 3rem;

   background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $gray-1;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
   /*opacity: .5;*/
  }
}
